.green {
    color: green;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

table {
    width: 30%;
}

table, th, td {
    border:1px solid black;
}

table tr td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #888
  }